 body {
        background-color: #004643 !important;

      font-family: 'Segoe UI', sans-serif;
    }
  .indiv:hover{
      background-color: #ABD1C6;
    }
    input[type="radio"]:hover, input[type="radio"]{
      accent-color: #004643;
    }
    .timer{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      
    }
    label:hover{
      color: #004643;
      font-weight: bold;
    }

    /* index styling */
    .letsta{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: white;

    }
    .quiz{
      color: #F8C660;
    }
    .enName{
      width: 350px;
      border: 1px #004643 solid !important;
      border-radius: 10px;

    }
    .enName:focus{
      outline: none;
    }
  .submi {
    background-color:  #f7b636;
    border: 1px #F8C660 solid !important;
    width: 200px !important;
    margin: 20px auto;
    display: block;
  }
  .submi:hover, .submi:active{
    background-color: #F8C660 !important;
  }
  .submi a{
    text-decoration: none !important;
    color: white;
  }